@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* height: 100vh; */
  /* overflow: hidden; */
  margin: 0;
  background-color: #064929;
  color: white;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}
@media (min-width: 768px) {
  body {
    height: 100vh;
    overflow: hidden;
    justify-content: center;
  }

  #logo {
    max-height: 1rem;
  }

  #contact-box {
    position: absolute;
    right: 0;
    bottom: calc(20px + 5vw);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left: 0;
  }

  #main-content {
    position: fixed;
    right: 0;
    left: 0;
    top: 30vh;
    bottom: 0;
  }

  #cool-text {
    font-size: 1.5rem;
  }
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
}

#logo {
  max-height: 10vh;
  color: #4bba5b;
}

#maintenance-row {
  display: inline-flex;
  flex-direction: row;
}

.blue-text {
  color: #60d0ad;
}

#cool-text {
  max-height: 10vh;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;
}

/* #contact-box {
  position: absolute;
  bottom: calc(20px + 5vw);
} */

/* .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
} */

.email {
  color: #60d0ad;
}

.name {
  font-weight: 700;
}

#paragraph {
  min-width: 70vw;
  text-align: center;
}
